
.imgpresentacion {
    max-width: 99%;
    height: 50%;
    
}
.contenedorflex {
    display: flex;
    justify-content: end;
    
}

.textoflex {
    margin: 2em;
}
.text{
    text-align: center;
}

.TituloPagina {
text-align: center;
background-color: black;
color: rgb(255, 255, 255);
}


body{
    background-color: white;
    position: relative;
    min-height: 100vh;
}

main{
    position: relative;
}
footer{
    background-color: rgb(224, 217, 210);
    position: relative;
    bottom: 0;
    width: 100%;
    height:3em;
    margin: auto;


}

@media all and (max-width: 700px){
    .contenedorflex{
        flex-direction: column;
        justify-content: center;
     }  
     .contenedorflex2{
        flex-direction: column;
        justify-content: center;
     }  
     footer{
        position: relative;
    }

}

.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
        
@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: red;
    }
    #check:checked ~ ul{
        left:0;
    }
}